lab 4/wcf-lab/WcfClient/Connected Services/ServiceReference1/MyCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MyCalculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICalculator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10001/ServiceBaseName?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10001/ServiceBaseName?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Mod_InputMessage">
    <wsdl:part name="parameters" element="tns:Mod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Mod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_HMultiply_InputMessage">
    <wsdl:part name="parameters" element="tns:HMultiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_HMultiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:HMultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:iAdd" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:iAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iSub_InputMessage">
    <wsdl:part name="parameters" element="tns:iSub" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:iSubResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMul_InputMessage">
    <wsdl:part name="parameters" element="tns:iMul" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMul_OutputMessage">
    <wsdl:part name="parameters" element="tns:iMulResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iDiv_InputMessage">
    <wsdl:part name="parameters" element="tns:iDiv" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iDiv_OutputMessage">
    <wsdl:part name="parameters" element="tns:iDivResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMod_InputMessage">
    <wsdl:part name="parameters" element="tns:iMod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_iMod_OutputMessage">
    <wsdl:part name="parameters" element="tns:iModResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_CalculateAmountOfPrimesInRange_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateAmountOfPrimesInRange" />
  </wsdl:message>
  <wsdl:message name="ICalculator_CalculateAmountOfPrimesInRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateAmountOfPrimesInRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_BiggestPrimeInRange_InputMessage">
    <wsdl:part name="parameters" element="tns:BiggestPrimeInRange" />
  </wsdl:message>
  <wsdl:message name="ICalculator_BiggestPrimeInRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:BiggestPrimeInRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Add" message="tns:ICalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/AddResponse" message="tns:ICalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Multiply" message="tns:ICalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/MultiplyResponse" message="tns:ICalculator_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Divide" message="tns:ICalculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DivideResponse" message="tns:ICalculator_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Substract" message="tns:ICalculator_Substract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/SubstractResponse" message="tns:ICalculator_Substract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mod">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Mod" message="tns:ICalculator_Mod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/ModResponse" message="tns:ICalculator_Mod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HMultiply">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/HMultiply" message="tns:ICalculator_HMultiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/HMultiplyResponse" message="tns:ICalculator_HMultiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iAdd" message="tns:ICalculator_iAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iAddResponse" message="tns:ICalculator_iAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iSub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iSub" message="tns:ICalculator_iSub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iSubResponse" message="tns:ICalculator_iSub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iMul">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iMul" message="tns:ICalculator_iMul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iMulResponse" message="tns:ICalculator_iMul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iDiv">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iDiv" message="tns:ICalculator_iDiv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iDivResponse" message="tns:ICalculator_iDiv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iMod">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/iMod" message="tns:ICalculator_iMod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/iModResponse" message="tns:ICalculator_iMod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateAmountOfPrimesInRange">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/CalculateAmountOfPrimesInRange" message="tns:ICalculator_CalculateAmountOfPrimesInRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/CalculateAmountOfPrimesInRangeResponse" message="tns:ICalculator_CalculateAmountOfPrimesInRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BiggestPrimeInRange">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/BiggestPrimeInRange" message="tns:ICalculator_BiggestPrimeInRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/BiggestPrimeInRangeResponse" message="tns:ICalculator_BiggestPrimeInRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICalculator/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/ICalculator/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/ICalculator/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <soap:operation soapAction="http://tempuri.org/ICalculator/Substract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mod">
      <soap:operation soapAction="http://tempuri.org/ICalculator/Mod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HMultiply">
      <soap:operation soapAction="http://tempuri.org/ICalculator/HMultiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iAdd">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iSub">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMul">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iMul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iDiv">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iDiv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMod">
      <soap:operation soapAction="http://tempuri.org/ICalculator/iMod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAmountOfPrimesInRange">
      <soap:operation soapAction="http://tempuri.org/ICalculator/CalculateAmountOfPrimesInRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BiggestPrimeInRange">
      <soap:operation soapAction="http://tempuri.org/ICalculator/BiggestPrimeInRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_ICalculator" type="tns:ICalculator">
    <wsp:PolicyReference URI="#WSHttpBinding_ICalculator_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Multiply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Divide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Substract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mod">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Mod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HMultiply">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/HMultiply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iAdd">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iSub">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iSub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMul">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iMul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iDiv">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iDiv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iMod">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/iMod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAmountOfPrimesInRange">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/CalculateAmountOfPrimesInRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BiggestPrimeInRange">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/BiggestPrimeInRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyCalculator">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:10001/ServiceBaseName/endpoint1" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_ICalculator" binding="tns:WSHttpBinding_ICalculator">
      <soap12:address location="http://localhost:10001/ServiceBaseName/endpoint2" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:10001/ServiceBaseName/endpoint2</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>