lab 4/wcf-lab/WcfClient/Connected Services/ServiceReference1/ServiceBaseName.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:double" />
        <xs:element minOccurs="0" name="val2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:double" />
        <xs:element minOccurs="0" name="val2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:double" />
        <xs:element minOccurs="0" name="val2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Substract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:double" />
        <xs:element minOccurs="0" name="val2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubstractResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:double" />
        <xs:element minOccurs="0" name="val2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HMultiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:double" />
        <xs:element minOccurs="0" name="val2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HMultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HMultiplyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iSubResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMulResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDiv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDivResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDivResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iModResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iModResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateAmountOfPrimesInRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateAmountOfPrimesInRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateAmountOfPrimesInRangeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>